/*general reset*/
head {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: f4f4f4;
}
header{
    padding: 15px;
    background-color: 333;
    color: #fff;
    text-align: center;
}
header nav ul {
    margin: 15px;
    display: inline;
}
header nav ul li{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.hero{
    text-align: center;
    padding: 50px 20px;
    background-color: 0007bff;
    color: fff;
}
.hero h1{
    font-size: 3rem;
}
.hero p{
    font-size: 1.25rem;
}
.content{
    padding: 20px;
    text-align: center;
}
footer{
    bottom: 0;
    padding: 10;
    position: fixed;
    color: #333;
    background-color: #fff;
    width: 100%;
}
/*contact form*/
form{
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form label{
    display: block;
    margin: 10px 0 5px;
}
form input,
form textarea{
    width: 100%;
    margin:10px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
form button:hover{
    background-color: #0056b3;
}











